<!-- grupo 47 app -->

<html>
<title>List accounts - Flask</title>
<body style="padding:20px">
  <h2>Médicos</h2>
  <h3>Inserir novo Médico</h3>
  <form action="insert_medico" method="post">
      <table border="2px">
        <thead>
          <tr>
            <th>Número de cédula</th>
            <th>Nome</th>
            <th>Especialidade</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input name="new_cedula"></td>
            <td><input name="new_nome"></td>
            <td><input name="new_esp"></td>
          </tr>
        </tbody>
      </table>
      <p><input type="submit" name="insert"/></p>
  </form>
  <h3>Apagar Médico</h3>
  <form action="delete_medico" method="post">
      <table border="2px">
        <thead>
          <tr>
            <th>Número de cédula</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input name="del_cedula"></td>
          </tr>
        </tbody>
      </table>
      <p><input type="submit" name="delete"/></p>
  </form>
  <h3>Base de Dados</h3>
  {% if cursor %}
    <table border="2px">
      <thead>
        <tr>
          <th>Numero de Cédula</th>
          <th>Nome</th>
          <th>Especialidade</th>
          <th>Alterar</th>
        </tr>
      </thead>
      <tbody>
        {% for record in cursor %}
          <tr>
            <td>{{ record[0] }}</td>
            <td>{{ record[1] }}</td>
            <td>{{ record[2] }}</td>
            <td><a href="editar_medico?num_cedula={{ record[0] }}">Editar dados</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p> Erro: ao obter dados da base de dados!</p>
  {% endif %}
</body>
</html>
